envId: {{ hostvars['localhost'].apocng_uuid }}

{% if hostvars['localhost'].apocng_provision_driver == "terraform" %}
providers:
  minikube:
    enabled: false
  aws:
    enabled: true
{% endif %}

{% if hostvars['localhost'].apocng_provision_driver == "terraform" %}
nginxBasicAuth:
  service:
    type: LoadBalancer
{% endif %}

spinnaker:
  rbac:
    enabled: true
{% if hostvars['localhost'].apocng_provision_driver == "terraform" %}
  minio:
    replicas: 4
    persistence:
      type: PersistentVolumeClaim
      storageClass: gp2
  redis:
    persistence:
      enabled: true
      storageClass: gp2
{% endif %}

  ui:
    service:
      type: ClusterIP

fluentd:
  rbac:
    enabled: true

{% if hostvars['localhost'].apocng_provision_driver == "terraform" %}
service:
    type: LoadBalancer
{% endif %}
